SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=contact@globalvisionaryminds.com
SMTP_PASS=Gvm2026!
CONTACT_TO_EMAIL=info@globalvisionaryminds.com
CONTACT_FROM_EMAIL=contact@globalvisionaryminds.com

